<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../bundle.js"></script>
    <link rel="stylesheet" href="../../bundle.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a77d0c9dac.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-9">
            <!-- Page Title -->
            <h5>系所簡介</h5>
            <!-- /.Page Title -->

            <!-- Article -->
            <!-- subTitle -->
            <div class="alert alert-dark" role="alert">
                Title
            </div>
            <!-- /.subTitle -->
            <div alt="article-area">
                <p>
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                <br>
                <br>
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText
                <br>
                <br>
                Text TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText Text
                </p>
            </div>
            <!-- /.Article -->

        </div>
    </div>
</div>

</body>
</html>