<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../bundle.js"></script>
    <link rel="stylesheet" href="../../bundle.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-9">
            <!-- Page Title -->
            <h5>系所簡介</h5>
            <!-- /.Page Title -->

            <!-- Article -->
            <!-- subTitle -->
            <div class="alert alert-dark" role="alert">
                Title
            </div>
            <!-- /.subTitle -->
            <div alt="article-area">
                <p>
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                <br>
                <br>
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText
                <br>
                <br>
                Text TextText TextText TextText TextText TextText Text
                Text TextText TextText TextText TextText TextText Text
                </p>
            </div>
            <!-- /.Article -->

        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>

        <!-- Test -->
        <div class="col-9">
            <!-- Page Title -->
            <h4>Page Title</h4>
            <!-- /.Page Title -->


            <!-- subTitle -->
            <div class="alert alert-dark" role="alert">
                subTitle
            </div>
            <!-- /.subTitle -->

            <!-- Test-Article -->
            <div alt="article-area">
                <!-- Article Title -->
                <!-- Article Info -->
                <div>
                    <h2 class="text-calm">Article Title</h2>
                    <p>公告日期：date</p>
                    <p>張貼單位：place</p>
                    <p>張貼者：who</p>
                    <hr>
                </div>
                <!-- /.Article Info -->

                <p>
                    Article edit area Article edit area Article edit area Article edit area
                    Article edit area Article edit area Article edit area Article edit area
                    <br>
                    <br>
                    基麼石影名高的。不不賣理過親用書，這可到所出天我球絕沒詩小親施之位友才最或行外題得。
                    相經任安個任任以房運底師的的成如長的指；紅的是、不樹今好格我名光接處試查方我機去社，
                    對老獎助成要形風來量像。權票己能；關經再主！大快不色容部外大父。常費特目金班起法上。
                    先態小保馬力高十南五情續微山證當然言時中出吃特子十……一高用四定一度早物此的向經中了所
                    沒為公統，了了係香多水次國近南吸成也是現？政中團，設在象去，是不山東這教子及對臉高朋
                    病母記別公明子主前，美也的國過的一立因人上合人，解車力品。
                    <br><br>
                    間流地如青的身的的自小方個
                    清，此足自發待仍起；到斷了一心流以車？酒安香今經著球老的果在活步那今驚。易子不節環。說
                    領樣著！速中實麼看首間只總、八東參層才能家破年只起為良排日育！非遠巴長，教做座現代喜出
                    水童？團主你特，時們風，不全現到來開在，傳當想具候，民拉地是體外布物服品。實題非樣歡是
                    候充以現中低出多多的看生斯開後時？的學望時出，子的讓密也類麼克會？
                    <br>
                    <br>
                    Article edit area Article edit area Article edit area Article edit area
                    Article edit area Article edit area Article edit area Article edit area
                </p>

                <!-- Attached Files -->
                <p>
                    <hr>
                    <h5>附加檔案：</h5>
                    <ul>
                        <li><a href="#"><i class="far fa-file-word"></i> filename</a></li>
                        <li><a href="#"><i class="far fa-file-powerpoint"></i> filename</a></li>
                        <li><a href="#"><i class="far fa-file-pdf"></i> filename</a></li>
                    </ul>
                </p>
                <!-- /.Attached Files -->

                <!-- Article Info-2 -->
                <p class="float-right">上次修改日期：date time</p>
                <!-- /.Article Info-2 -->
                <!-- /.Article Info-2 -->
                <button type="button" class="btn btn-outline-calm">回上一頁</button>
            </div>
            <!-- /.Test-Article -->

        </div>
    </div>


    <div class="row">
        <div class="col-12">



            <!-- Article -->
            <div alt="article-area">
                <!-- Article Title -->
                <!-- Article Info -->
                <div>
                    <h2 class="text-calm">Article Title</h2>
                    <p>公告日期：date</p>
                    <p>張貼單位：place</p>
                    <p>張貼者：who</p>
                    <hr>
                </div>
                <!-- /.Article Info -->

                <p>
                    Article edit area Article edit area Article edit area Article edit area
                    Article edit area Article edit area Article edit area Article edit area
                    <br>
                    <br>
                    基麼石影名高的。不不賣理過親用書，這可到所出天我球絕沒詩小親施之位友才最或行外題得。
                    相經任安個任任以房運底師的的成如長的指；紅的是、不樹今好格我名光接處試查方我機去社，
                    對老獎助成要形風來量像。權票己能；關經再主！大快不色容部外大父。常費特目金班起法上。
                    先態小保馬力高十南五情續微山證當然言時中出吃特子十……一高用四定一度早物此的向經中了所
                    沒為公統，了了係香多水次國近南吸成也是現？政中團，設在象去，是不山東這教子及對臉高朋
                    病母記別公明子主前，美也的國過的一立因人上合人，解車力品。
                    <br><br>
                    間流地如青的身的的自小方個
                    清，此足自發待仍起；到斷了一心流以車？酒安香今經著球老的果在活步那今驚。易子不節環。說
                    領樣著！速中實麼看首間只總、八東參層才能家破年只起為良排日育！非遠巴長，教做座現代喜出
                    水童？團主你特，時們風，不全現到來開在，傳當想具候，民拉地是體外布物服品。實題非樣歡是
                    候充以現中低出多多的看生斯開後時？的學望時出，子的讓密也類麼克會？
                    <br>
                    <br>
                    Article edit area Article edit area Article edit area Article edit area
                    Article edit area Article edit area Article edit area Article edit area
                </p>

                <!-- Attached Files -->
                <p>
                    <hr>
                    <h5>附加檔案：</h5>
                    <ul>
                        <li><a href="#"><i class="far fa-file-word"></i> filename</a></li>
                        <li><a href="#"><i class="far fa-file-powerpoint"></i> filename</a></li>
                        <li><a href="#"><i class="far fa-file-pdf"></i> filename</a></li>
                    </ul>
                </p>
                <!-- /.Attached Files -->

                <!-- Article Info-2 -->
                <p class="float-right">上次修改日期：date time</p>
                <!-- /.Article Info-2 -->
                <!-- /.Article Info-2 -->
                <button type="button" class="btn btn-outline-calm">回上一頁</button>
            </div>
            <!-- /.Article -->



        </div>
    </div>
</div>

</body>
</html>