<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../bundle.js"></script>
    <link rel="stylesheet" href="../../bundle.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a77d0c9dac.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div class="container">
    <div class="row">

        <!-- Staff Info Table -->
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead class="thead-gray">
                    <tr>
                        <th scope="col">職稱</th>
                        <th scope="col">姓名</th>
                        <th scope="col">負責業務</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- First Row -->
                    <tr>
                        <th scope="row">辦事員</th>
                        <td><a href="#">張雅綺</a></td>
                        <td>
                            辦理系辦業務<br>
                            (一)本系各項公文、各項會議召開及紀錄。<br>
                            (二)班級及教師排課課表及彙整。<br>
                            (三)辦理教師聘任、評鑑、升等作業事宜。<br>
                            (四)協助學生選課、休(轉)學事宜。<br>
                            (五)經費控管核銷、教學設備請購、借還、管理及維護。<br>
                            (六)辦理學生實習簽約、安排、製聘、發證事宜。<br>
                            (七)產學合作業務。<br>
                            (八)系上各項活動規劃辦理。<br>
                            (九)IEET評鑑相關業務。<br>
                            (十)系網管理。<br>
                            (十一)配合協辦各處室單位業務。<br>
                            (十二)其他臨時交辦事項。
                        </td>
                    </tr>
                    <!-- /.First Row -->

                    <!-- Second Row -->
                    <tr>
                        <th scope="row">position</th>
                        <td><a href="#">Name</a></td>
                        <td>jobs</td>
                    </tr>
                    <!-- /.Second Row -->

                    <!-- Third Row -->
                    <tr>
                        <th scope="row">position</th>
                        <td><a href="#">Name</a></td>
                        <td>jobs</td>
                    </tr>
                    <!-- /.Third Row -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.Staff Info Table -->


    </div>

    <div class="row">

        <!-- News Table -->
        <div class="col-12" id="news">
            <table class="table table-striped">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">公告日期</th>
                    <th scope="col">標題</th>
                    <th scope="col">瀏覽人次</th>
                </tr>
                </thead>
                <tbody>

                <!-- Row List -->

                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>
                <tr>
                    <td scope="row">date</td>
                    <th>Article title Article title Article title Article title Article title Article title Article title</th>
                    <td>number</td>
                </tr>

                <!-- /.Row List -->

                </tbody>
            </table>
        </div>
        <div class="col-12">
            <nav aria-label="News Table navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- /.News Table -->


    </div>

</div>

</body>
</html>